.menu {
  position: absolute;
  display: grid;
  top: 50%;
  left: 50%;
  height: 400px;
  width: 600px;
  margin: -200px -300px;
  justify-self: center;
  align-self: center;
  align-items: flex-end;
}

.menu *:not(.fas) {
  color: #070853;
}

.main-menu {
  height: 100%;
  width: 100%;
  display: grid;
  justify-items: center;
  align-content: space-evenly;
}

.player-name-entry {
  height: auto;
  width: 55%;
  display: flex;
  justify-items: center;
  align-items: center;
}

#player-name {
  margin-left: 10px;
  padding-left: 1rem;
  width: 100%;
  height: 2.5rem;
  font-size: 1.5rem;
  font-family: 'Futura';
}

input::placeholder {
  color: #070853;
  opacity: 50%;
}

.play-buttons {
  display: grid;
  gap: 20px;
  justify-self: center;
}

.play-button {
  justify-self: center;
  width: 25rem;
}

.play-button .button-text {
  /* justify-self: center; */
  width: 21rem;
}

.statistics {
  width: 100%;
  display: flex;
  justify-self: center;
  align-self: end;
  justify-content: space-evenly;
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.statistic {
  white-space: nowrap;
}

.board-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: grid;
  align-items: center;
  justify-items: center;
}
