<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./css/splash.css" />
    <link rel="stylesheet" href="./css/style.css" />
    <script src="https://kit.fontawesome.com/1fb181b4f9.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <nav>
      <a class="logo" href="/">chess game thing app</a>
    </nav>
    <div class="board-wrapper">
      <div class="board">
        <div class="square piece piece-dark piece-rook"></div>
        <div class="square piece piece-dark piece-knight"></div>
        <div class="square piece piece-dark piece-bishop"></div>
        <div class="square piece piece-dark piece-queen"></div>
        <div class="square piece piece-dark piece-king"></div>
        <div class="square piece piece-dark piece-bishop"></div>
        <div class="square piece piece-dark piece-knight"></div>
        <div class="square piece piece-dark piece-rook"></div>
        <div class="square piece piece-dark piece-pawn"></div>
        <div class="square piece piece-dark piece-pawn"></div>
        <div class="square piece piece-dark piece-pawn"></div>
        <div class="square piece piece-dark piece-pawn"></div>
        <div class="square piece piece-dark piece-pawn"></div>
        <div class="square piece piece-dark piece-pawn"></div>
        <div class="square piece piece-dark piece-pawn"></div>
        <div class="square piece piece-dark piece-pawn"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square piece piece-light piece-pawn"></div>
        <div class="square piece piece-light piece-pawn"></div>
        <div class="square piece piece-light piece-pawn"></div>
        <div class="square piece piece-light piece-pawn"></div>
        <div class="square piece piece-light piece-pawn"></div>
        <div class="square piece piece-light piece-pawn"></div>
        <div class="square piece piece-light piece-pawn"></div>
        <div class="square piece piece-light piece-pawn"></div>
        <div class="square piece piece-light piece-rook"></div>
        <div class="square piece piece-light piece-knight"></div>
        <div class="square piece piece-light piece-bishop"></div>
        <div class="square piece piece-light piece-queen"></div>
        <div class="square piece piece-light piece-king"></div>
        <div class="square piece piece-light piece-bishop"></div>
        <div class="square piece piece-light piece-knight"></div>
        <div class="square piece piece-light piece-rook"></div>
      </div>
    </div>
    <div class="menu glass">
      <div class="main-menu">
        <div class="player-name-entry">
          <label for="player-name">Hello,</label>
          <input id="player-name" class="glass" placeholder="name?" />
        </div>

        <div class="play-buttons">
          <a href="/play">
            <button class="random-play glass play-button split slide-hover">
              <div class="button-icon">
                <i class="fas fa-play"></i>
              </div>
              <div class="button-text">play with a player</div>
            </button>
          </a>
        </div>
      </div>
      <div class="statistics">
        <div class="statistic">
          <label for="curr-playing">Initialized games: </label>
          <span class="curr-playing"><%= gamesInitialized %></span>
        </div>
        <div class="statistic">
          <label for="Ke2-played">Games aborted: </label>
          <span class="Ke2-played"><%= gamesAborted %></span>
        </div>
        <div class="statistic">
          <label for="en-passants">Games completed: </label>
          <span class="en-passants"><%= gamesCompleted %></span>
        </div>
      </div>
    </div>

    <button class="help-toggle glass split slide-hover" id="help-toggle">
      <div class="button-icon">
        <i class="fas fa-question-circle"></i>
      </div>
      <div class="button-text">how</div>
    </button>

    <div class="help glass" id="help">
      play chess but take king <br />
      also no castling <br />
      or promotion <br />
      or en passant ;(
    </div>

    <div class="smol glass">screen too smol ;(</div>

    <script src="js/help.js"></script>
  </body>
</html>
