* {
  margin: 0;
  padding: 0;
  outline: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

@media (resolution: 120dpi) {
  html {
    font-size: 80%;
  }
}

@font-face {
  font-family: Futura;
  src: url('../fonts/FuturaPTBook.otf');
}

@font-face {
  font-family: Futura;
  src: url('../fonts/FuturaPTDemi.otf');
  font-weight: 600;
}

body {
  width: 100vw;
  height: 100vh;
  background: #00a8ff;
  background: url('../img/bg.png'), linear-gradient(45deg, #00a8ff 0%, #00d4ff 100%);
  background-position: center;
  background-size: cover cover;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
  font-family: Futura;
  font-size: 1.5rem;
}

body,
input,
button {
  font-family: Futura;
  color: #ffffff;
}

button {
  cursor: pointer;
  font-size: 1.5rem;
  overflow: hidden;
}

a {
  text-decoration: none;
}

.glass {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(77, 113, 205, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  overflow: hidden;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 10px 15px;
  z-index: 1000;
}

.logo {
  color: #fff;
  font-size: 2rem;
}

.main {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: max(40vh, 200px);
  display: grid;
  grid-template-columns: [game-start] 50% [buttons-start] auto;
  align-items: center;
}

.board {
  width: 80vh;
  min-width: 400px;
  height: 80vh;
  min-height: 400px;
  display: grid;
  grid-template-columns: repeat(8, 12.5% [col-start]);
  grid-template-rows: repeat(8, 12.5% [row-start]);
  border-radius: 40px;
  overflow: hidden;
  box-shadow: 0 8px 32px 0 rgba(77, 113, 205, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.square {
  background: rgba(75, 89, 216, 0.25);
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.square::before {
  font-family: 'Font Awesome 5 Free';
  display: inline-block;
  font-weight: 900;
  text-align: center;
}

.square::after {
  font-family: 'Font Awesome 5 Free';
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 400;
  text-align: center;
}

/* .square:nth-child(1) {
  border-radius: 40px 0 0 0;
}

.square:nth-child(8) {
  border-radius: 0 40px 0 0;
}

.square:nth-child(57) {
  border-radius: 0 0 0 40px;
}

.square:nth-child(64) {
  border-radius: 0 0 40px 0;
} */

.square:nth-child(16n),
.square:nth-child(16n + 1),
.square:nth-child(16n + 3),
.square:nth-child(16n + 5),
.square:nth-child(16n + 7),
.square:nth-child(16n + 10),
.square:nth-child(16n + 12),
.square:nth-child(16n + 14) {
  background: rgba(255, 255, 255, 0.25);
}

.split {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.button-icon {
  /* margin-right: 15px; */
  background-color: #fff;
  padding: 10px;
  color: #00d4ff !important;
  transition: width 0.5s;
  width: 4rem;
}

.button-text {
  position: relative;
  width: 70%;
  /* text-align: left; */
  transition: left 0.5s, width 0.5s;
  white-space: nowrap;
  left: 0;
  text-decoration: none !important;
}

.slide-hover:hover .button-icon {
  width: 100%;
}

.slide-hover:hover .button-text {
  width: 0;
  left: 100%;
  transition: left 1s, width 0.5s;
}

.slide-hover:active .button-icon {
  width: 100%;
}

.slide-hover:active .button-text {
  width: 0;
  left: 100%;
  transition: left 1s, width 0.5s;
}

.help-toggle {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 12.5rem;
}

.help {
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 200px;
  margin-top: -100px;
  margin-left: -250px;
  z-index: 1000;
  color: #000;
  text-align: center;
  line-height: 50px;
}

.smol {
  position: absolute;
  /* display: none; */
  top: 50%;
  left: 50%;
  width: 500px;
  height: 200px;
  margin-top: -100px;
  margin-left: -250px;
  z-index: 1000;
  color: #000;
  text-align: center;
  line-height: 200px;
}

@media (min-width: 800px) and (min-height: 400px) {
  .smol {
    display: none;
  }
}

.bold {
  font-weight: 600;
}

.piece::before,
.piece::after {
  width: 100%;
  height: 100%;
  font-size: 7vh;
  padding: 1vh;
}

.piece-light::before {
  color: #fff;
}

.piece-dark::before {
  color: #070853;
}

.piece-rook::before {
  content: '\f447';
}

.piece-knight::before {
  content: '\f441';
}

.piece-bishop::before {
  content: '\f43a';
}

.piece-queen::before {
  content: '\f445';
}

.piece-king::before {
  content: '\f43f';
}

.piece-pawn::before {
  content: '\f443';
}
